@import "../../assets/styles/index.scss";

  nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav a {
    text-decoration: none;
    color: $blackColor;
    transition: 0.35s ease-in;;
  }
  
  nav a:hover {
    color: $redColor;
    padding-bottom: 6px;
    transition: 0.35s ease-in;
    border-bottom: 2px solid $redColor;
  }
  
  nav ul {
    text-decoration: none;
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  ::marker {
    display: none;
  }
  
.conteinerSubHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0px 25px;
}

.containerSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.containerSearch > p {
    margin: 0px 10px;
    color: $blackColor;
}

.iconSearch {
    color: $blackColor;
    width: 20px;
    margin: 0px 10px;
}

.v-line{
    border-left: 2px solid $grayColor;
    height: 40px;
}
  
  .menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  .show {
    transform: translateX(0);
  }

  .contactButton {
    color: var(--color-form);
    border: 1px solid var(--color-form);
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition);
  }

  .contactButton:hover {
    color: white;
    padding: 10.2px;
    border-bottom: 2px solid var(--color-form);
    background-color: var(--color-form);
  }

  @media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }
    nav ul {
      position: fixed;
      background-color: rgb(247, 247, 247);
      flex-direction: column;
      top: 86px;
      width: 100%;
      text-align: center;
      transform: translateX(120%);
      transition: 0.35s ease-in;
    }
  
     nav ul li, .containerSearch {
      margin: 8px;
    }
    .menu-hamburguesa {
      display: block;
    }
    .conteinerSubHeader {
        flex-direction: column;
    }
    .v-line{
        height: 0px;
    }
  }
